.container {
    .article__form {
        height: 100vh;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: auto, 5px;
        .article_form_header {
            .botones_up {
                .right-buttons {
                    justify-content: space-between;
                    li {
                        list-style: none;
                    }
                }
            }
        }
        .article_form_content {
            background: white;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            .article_form_top {
                .title {
                    p {
                        font-size: 30px;
                        font-weight: 900;
                    }
                }
            }
        }
        main {
            .article_form_content {
                background: rgb(224, 213, 213);
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}